# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://vksqkmtdysbzomrhlcqv.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_aRlc7oBsoT2psnjwAJUk2Q_qO9amQCS
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZrc3FrbXRkeXNiem9tcmhsY3F2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEzMTcwNzMsImV4cCI6MjA4Njg5MzA3M30.Td4cbaTsTF_xn27Ylapr_V5y8t9jmBrBrPrnJimx0VA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZrc3FrbXRkeXNiem9tcmhsY3F2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTMxNzA3MywiZXhwIjoyMDg2ODkzMDczfQ.f6WgLWFj_SRX1j3Y03xlSLdNi36uRtcNfn6iFFVODeY

# Site Configuration
NEXT_PUBLIC_SITE_URL=https://gurusmruthi.abijithcb.com

# R2 Cloudflare Storage Configuration
R2_BUCKET_NAME=anandham-photos
R2_ACCOUNT_ID=d45cf3b6abb8d3d62625e179bf748f2c
R2_ACCESS_KEY_ID=ef15651e6afbdc66e34a8a880f333cda
R2_SECRET_ACCESS_KEY=6c9e4e0a1df1e9794083189145db0194f901c0c1d41e9b243372e252a5a5e661
R2_ENDPOINT=https://d45cf3b6abb8d3d62625e179bf748f2c.r2.cloudflarestorage.com
R2_PUBLIC_URL=https://pub-4e12664ec9494c0b8774528892357583.r2.dev
